NEXT_PUBLIC_BACKEND_URL="http://127.0.0.1:5000"

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAEMu5EhWnmJ4qOL_2ExSj6G-U6il-ybL4"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="cpsy300-project.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="cpsy300-project"
NEXT_PUBLIC_FIREBASE_APP_ID="1:502645644220:web:b2f39a2092779d0bf329b9"