FIREBASE_PROJECT_ID="cpsy300-project"
AZURE_KEYVAULT_URL="https://ProjectNutritionKeyVault.vault.azure.net/""
AZURE_STORAGE_CONNECTION_STRING="https://projectnutritionkeyvault.vault.azure.net/secrets/StorageConnectionString/5a90d498dfd246649ce7580f53f56381"